<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".txt" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <httpRedirect enabled="false" destination="https://www.activeworlds.com/web/" exactDestination="false" httpResponseStatus="Found" />
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHPres" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHPres\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
